<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/axios/dist/axios.js"></script>

</head>
<body>
<div id="app">

  <hyx-news :show-del-button="true"  :news="news"></hyx-news>

</div>
<!--子组件的template-->
<script type="text/x-template" id="hyxNews">
  <ul>
   {{showDelButton}}
    <li v-for=" (v,k) in news ">
      {{v.title}}
      <button @click="del(k)" v-if="showDelButton">删除</button>
    </li>
  </ul>

</script>
<script>

  //  子组件
  var hyxNews = {
    template: '#hyxNews',
    props: {
  //      设置传递参数的类型
      showDelButton:{
        type:[Boolean,Number],
//        default:false
      },
      news:{
        type:Array
      }
    },
    data(){             // 保证每个组件返回一个独立的数据，通过函数返回JSON
      return {}
    },
    methods: {
      del(k){
        this.news.splice(k, 1)
      }
    }
  }

  //根组件
  var app = new Vue({
    el: '#app',
    components: {
      hyxNews
    },
    data: {
      //父组件传递给子组件数据
      news: [
        {title: 'new1'},
        {title: 'new2'}
      ]
    }
  })
</script>


</body>
</html>